<div class="ticket_visitor">
    <h4># {{ 'step_one.form.visitor.label'|trans }}</h4>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6 col-sm-6">
            {{ form_row(form.surname) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col-md-6 col-sm-6">
            {{ form_row(form.country) }}
        </div>
    </div>
    {{ form_row(form.reduced) }} <small>*{{ 'reduce_price_more'|trans }}</small>
    <hr />
</div>
