{% extends "LouvreShopBundle:Default:layout.html.twig" %}

{% block header %}
    {% include "LouvreShopBundle:Default:subheader.html.twig" with {'current': 'first'} %}
{% endblock %}

{% block position %}
    {{ 'header.position.ticketing'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% if type == 'error' %}
                        <div class="alert alert-danger">
                            <ul class="list-unstyled"><li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ message }}</li></ul>
                        </div>
                    {% else %}
                        <div class="alert alert-success">
                            <ul class="list-unstyled"><li><span class="glyphicon glyphicon-ok"></span> {{ message }}</li></ul>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="bg-info alert">
                {{ 'forgot_ticket.explain'|trans }} <a data-toggle="collapse" href="#lostTicket" aria-expanded="false" aria-controls="lostTicket">{{ 'forgot_ticket.action_text'|trans }} </a>
                <div class="collapse" id="lostTicket">
                    <br />
                    <form action="{{ path('louvre_recovery')}}" method="POST">
                        <div class="form-group">
                            <label>{{ 'forgot_ticket.form.identifier.label'|trans }}</label>
                            <input type="text" class="form-control" name="order_identifier" placeholder="{{ 'forgot_ticket.form.identifier.placeholder'|trans }}" required="required">
                        </div>
                        <button type="submit" class="btn btn-default">{{ 'forgot_ticket.form.submit'|trans }}</button>
                    </form>
                </div>
            </div>
            <div class="bg-warning alert">
                <span class="glyphicon glyphicon-info-sign"></span>
                <p>{{ 'reduce_price_info'|trans }}</p>
            </div>
            <div class="box_style_2" id="order_process">
                <h2 class="inner">{{ 'step_one.title'|trans }}</h2>
                {{ form_start(form, {'attr': {'id' : 'booking'} }) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>{{ 'step_one.form.entry_date.label'|trans }}</label>
                            <div class="input-group date" id="datetimepicker">
                                <span class="input-group-addon" id="dateTimeControl">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                {{ form_widget(form.entryDate, {'attr': {'placeholder': "date_format" , 'class': 'form-control'} }) }}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>{{ 'step_one.form.ticket_counter.label'|trans }}</label>
                            <select id="ticketCounterControl" class="form-control" disabled="disabled">
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_row(form.fullDay) }}
                </div>
                <hr />
                <!-- Formulaire pour les billets -->
                {% macro prototype(visitor) %}
                    <div class="ticket_visitor">
                        <h4># {{ 'step_one.form.visitor.label'|trans }}</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                {{ form_row(visitor.name) }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {{ form_row(visitor.surname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                {{ form_row(visitor.birthday) }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {{ form_row(visitor.country) }}
                            </div>
                        </div>
                        {{ form_row(visitor.reduced) }} <small>*{{ 'reduce_price_more'|trans }}</small>
                        <hr />
                    </div>
                {% endmacro %}
                <div id="tickets_visitors" data-prototype="{% filter escape %}{% include 'LouvreShopBundle:Form:visitorType.html.twig' with { 'form': form.visitors.vars.prototype } %}{% endfilter %}">
                    {% for visitor in form.visitors %}
                        {{ _self.prototype(visitor) }}
                    {% endfor %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        {% include "LouvreShopBundle:Default:shopping_box.html.twig" with {'current': 'first'} %}
    </div>
{% endblock %}
