{% extends "LouvreShopBundle:Default:layout.html.twig" %}

{% block header %}
    {% include "LouvreShopBundle:Default:subheader.html.twig" with {'current': 'third'} %}
{% endblock %}

{% block position %}
    {{ 'header.position.ticketing'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="box_style_2" id="order_process">
                <h2 class="inner">{{ 'step_tree.title'|trans }}</h2>
                <div id="confirm">
                    <i class="icon_check_alt2"></i>
                    <h1>{{ 'step_tree.subtitle'|trans }}</h1>
                    <h3>{{ 'step_tree.code'|trans }} : {{ order.getCode }}</h3>
                    <br />
                    <p>{{ 'step_tree.explain'|trans|raw }}</p>
                    <br />
                    <a href="{{ path('louvre_order')}}" class="btn btn-default">{{ 'step_tree.backtohome'|trans }}</a>
                </div>
            </div>
        </div>
        {% include "LouvreShopBundle:Default:shopping_box.html.twig" with {'current': 'third'} %}
    </div>
{% endblock %}
